.nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: large;
	font-family: Recoleta;
	font-weight: 100;
}

.nav ul li {
	cursor: pointer;
	&:hover {
		transition: 0.3s;
		text-decoration: line-through;
		color: #5c8374;
	}
}
